ol {
  counter-reset: item
}
#toc {
  display: block
}
#toc:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

table:not(.table-bordered):not(.table-detail) {
  border-collapse: collapse;*/
display: inline;
margin:4px;
border-spacing: 60px 0;
margin: 0 auto;
}

td, th{
	padding:5px 15px 5px 0px;
}

th {
    text-align: left;
}

thead {
    border-bottom: 1px solid black;
    border-top: 2px solid black;
}

tbody {
    border-bottom: 2px solid black;
}

article {
	width: 50em;
	margin: 0 auto;
	max-width: 100%;
	line-height: 1.5;
	font-size: 18px;
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio[id*="_player"] {
	display:none;
}
.playbutton {
	cursor:pointer;
    display: inline;
	height: 1.6ex;
}