<%inherit file="../${context.get('request').registry.settings.get('clld.app_template', 'app.mako')}"/>
<%namespace name="util" file="../util.mako"/>
<%! active_menu_item = "texts" %>
<%block name="title">${_('Texts')}</%block>

<h2>${title()}</h2>
<div>
##    ${ctx.render()}
	${request.get_datatable('texts', u.gramr_models.Text).render()}
</div>
