<%inherit file="app.mako"/>

##
## define app-level blocks:
##
<%block name="brand">
<a class="brand" style="padding-top: 7px; padding-bottom: 5px;" href="${request.route_url('dataset')}" title="${request.dataset.name}">
<img height="25" src="${request.static_url('gramr:static/logo.png')}"/>
##What?
</a>
</%block>

${next.body()}
